@import url('https://fonts.googleapis.com/css?family=Heebo:900&display=swap');

body {
	background:rebeccapurple;
	color:#F5F5F5;
	overflow-x:hidden;
	font-family:'Heebo', Helvetica, Arial, sans-serif;
}

.text {
	position:relative;
	height:1em;
	line-height:1em;
	padding:0;
	margin:0;
	text-transform:uppercase;
	font-weight:bold;
	font-size:3em;
	overflow:hidden;
}

main p {
	padding:0;
	margin:0;
	transform: translateY(0);
	transition: transform 300ms linear;
}

main:hover p {
	transform: translateY(-1em);
}

.text:nth-child(odd) {
	transform: translate(4em, -4em) skew(60deg, -30deg) scaleY(0.667);
}
.text:nth-child(even) {
	transform: translate(4em, -4em) skew(0deg, -30deg) scaleY(1.333);
}

.text:nth-child(1) {
	left: 29px;
}
.text:nth-child(2) {
	left: 58px;
}
.text:nth-child(3) {
	left: 87px;
}
.text:nth-child(4) {
	left: 116px;
}